.App {
  text-align: center;
}

.App-header {
  background-color: #5cd5dd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(160, 241, 241);
}

.App-link {
  color: #61dafb;
}
